<!DOCTYPE html>
<html>
    <style>
        .btn-custom{
            width: 150px; /* Fix the width of the buttons */
            margin: 1rem 0.5rem;
            padding: 0.75rem 1.5rem;
            border-radius: 30px;
            font-size: 1rem;
            transition: all 0.3s ease-in-out;
            background-color: #5724aa;
            color: aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 45%;
        }
    </style>
<body style="background-color:rgba(34, 34, 34, 0.9); ;">
    <div style="margin:60px 0px 5px 0px;"><center>
        <script type="text/javascript">
            onload = function(){
            var vara="https://aseblr-my.sharepoint.com/:x:/g/personal/bl_en_u4aie20053_bl_students_amrita_edu/EWfBIBN7fZZFhUAgzS-hKloBmSlcH1wLlR9VHgL4_OvtUg?e=ayC6cz&action=embedview";
            document.getElementById('excel').setAttribute('src',vara)
            }
            </script>
        <iframe id = "excel" src= "https://www.bing.com" width="1000" height="550" frameborder="30" scrolling="no"></iframe>
    </center></div>
    <button type="submit" class="btn btn-primary mt-3 btn-custom">Submit</button>
</body>
</html>