<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AI powered Trading Platform</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bell - v4.8.1
  * Template URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container text-center">
      <!-- <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home"><img alt="Team2 Logo" src="static/assets/img/TRADE.AI2.png"></a>
        </div>
      </div> -->

      <div>
        <div class="tagline">
          <h1>
            Empowering Excellence & Accrediting Success!
          </h1>
          
        </div>
        <p class="subtagline">
          Unlock Opportunities and Enhance Credibility with Our Accreditation System
        <p>

        <a class="btn btn-full scrollto" href="{{ url_for('details')}}">Start Accrediting!</a>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div id="logo" class="me-auto">
        <a href="index.html"><img src="static/assets/img/TRADE.AI.png" alt=""></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto " href="#cta">Login</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Tutorials</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">tut 1</a></li>
              <li><a href="#">tut 2</a></li>
              <li><a href="#">tut 3</a></li>
              <li><a href="#">tut 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">

      <div class="container text-center">
        <h2>
          About Us
        </h2>

        <p>
          We are a team of innovative students, driven by a passion for education and the pursuit of excellence. Under the guidance of a dedicated faculty mentor, we have developed a cutting-edge system specifically designed to streamline the accreditation process for engineering colleges.
        </p>
        

        <h2>
          
        </h2>

        <h2>
          Our Mission
        </h2>

        <p>
          Our mission is to revolutionize the accreditation experience by providing engineering colleges with an automated, user-friendly platform. We aim to empower teachers and institutions to effortlessly enter course details, access valuable analytics, and generate well-informed and properly formatted documents for external certified accreditation agencies.
        </p>

        <h2>

        </h2>

        <h2>
          Join Us
        </h2>

        <p>
          We invite engineering colleges to join our growing community and experience the convenience and efficiency of our automated accreditation system. Simplify the process of documenting course details, accessing analytics, and preparing accreditation documents. Let our system empower you to present your institution's achievements and strengths to external accrediting agencies with confidence.
        </p>

        <p> 
          Together, let's revolutionize the way engineering colleges approach accreditation. Embrace our automated system, designed by students and supported by faculty mentorship, to navigate the accreditation process effortlessly and achieve recognition for your institution's commitment to educational excellence.
        </p>

      </div>

    </section><!-- End About Section -->

    <!-- ======= Welcome Section ======= -->
    <!-- <section class="welcome text-center">
      <h2>Welcome to our trading platform!</h2>
      <p>
        This is the Machine Learning/ Artificial Intelligence powered Trading Platform
      </p>
      <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="static/assets/img/brain2.png">
    </section>End Welcome Section -->

    <!-- ======= Features Section ======= -->
    <section class="features" id="features">

      <div class="container">
        <h2 class="text-center">
          Features
        </h2>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <i class="bi bi-briefcase"></i>
                </div>
              </div>

              <div>
                <h3>
                  Automated Accredition
                </h3>

                <p>
                  Our system leverages state-of-the-art automation techniques to streamline the accreditation process. Say goodbye to time-consuming manual evaluations and welcome a faster, more efficient system that saves you valuable time and resources.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <i class="bi bi-card-checklist"></i>
                </div>
              </div>

              <div>
                <h3>
                  Streamlined Documentation
                </h3>

                <p>
                  Managing accreditation-related documentation can be overwhelming. Our platform simplifies the process by providing a centralized digital repository. You can securely upload and store necessary documents, making it convenient to access and share information during the accreditation process.
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <i class="bi bi-bar-chart"></i>
                </div>
              </div>

              <div>
                <h3>
                  Data Security
                </h3>

                <p>
                  We understand the importance of data security and privacy. Our system is built with robust security measures to ensure the confidentiality and protection of your sensitive information. Rest assured that your data is in safe hands
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Features Section -->



    <!-- ======= Team Section ======= -->
    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          Meet our team
        </h2>

        <div class="row text-center">
          <div class="col-sm-2 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="static/assets/img/team-1.png">
                <div class="card-title-wrap">
                  <span class="card-title">Amruth A</span> <span class="card-text">Business Logic</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a> <a href="#"><i class="bi bi-envelope-fill"></i></a>
                  </nav>

                  <p>
                    Hi, I have a briefcase
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-2 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="static/assets/img/team-2.png">
                <div class="card-title-wrap">
                  <span class="card-title">Ramanan R</span> <span class="card-text">Algorithms</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a> <a href="#"><i class="bi bi-envelope-fill"></i></a>
                  </nav>

                  <p>
                    I live on coffee and lame jokes!
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-2 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="static/assets/img/team-3.png">
                <div class="card-title-wrap">
                  <span class="card-title">Rhea Paul</span> <span class="card-text">Backend</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a> <a href="#"><i class="bi bi-envelope-fill"></i></a>
                  </nav>
                  <p>
                    Hahaha
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-2 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="static/assets/img/team-4.png">
                <div class="card-title-wrap">
                  <span class="card-title">P Sadhana</span> <span class="card-text">Front End</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>

                  <nav class="social-nav">
                    <a href="#"><i class="bi bi-twitter"></i></a> <a href="#"><i class="bi bi-facebook"></i></a> <a href="#"><i class="bi bi-linkedin"></i></a> <a href="#"><i class="bi bi-envelope-fill"></i></a>
                  </nav>
                  <p>
                    I give almonds
                  </p>
                </div>
              </a>
            </div>
          </div>


        </div>
      </div>
    </section><!-- End Team Section -->
    
    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class=" text-center">
            <h2 class="section-title">Contact Us</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Amrita School of Engineering, Kasavanahalli, Blr</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>amrita@school.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>9195 something</p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-start text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>Team6</strong>. All Rights Reserved
            </p>
            <div class="credits">
              Designed by <a href="https://bootstrapmade.com/">Team6</a>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href=#hero>Home</a>
              </li>

              <li class="list-inline-item">
                <a href="#about">About Us</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Features</a>
              </li>

              <li class="list-inline-item">
                <a href="#team">Team</a>
              </li>

              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html> 